@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,500;0,800;1,500&display=swap');

:root {
    --couleur-principale: #303030;
    --couleur-secondaire: #202020;
    --couleur-tertiaire: #202020;
    --couleur-max: #000000;
    --couleur-accent: #04e6e6;
    --couleur-oppose-principale: #ffffff;
    --couleur-oppose-secondaire: #aaaaaa;
    --couleur-quaternaire: #282828;
}

html, body {
    overflow-x: hidden;
  }
  body {
    position: relative
  }

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--couleur-principale);
    color: var(--couleur-oppose-principale);
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
    width: 100%;
}

header {
    z-index: 3;
    position: fixed;
    font-family: 'Montserrat', sans-serif;
}

.navbar {
    filter: drop-shadow(0 0 0.75rem black);
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background-color: var(--couleur-secondaire);
    overflow: hidden;
    justify-content: center;
    align-items: center;
}

.navbar-centre {
    position: absolute;
    font-size: 1.125rem;
    display: flex;
    left: 50%;
    transform: translate(-50%, 0);
    /* justify-content: center; */
    /* position: relative; */
    /* left: 28vw; */
}

.navbar-droite {
    font-size: 1rem;
    /* position: fixed; */
    top: 7px; 
    /* width: 100%; */
    /* left: 70%; */
    display: flex;
    /* justify-content: right; */
    margin-left: auto;
    margin-right: 5%;
}

/* .navbar-droite { */
/* display: flex; */
/* justify-content: right; */
/* font-size: 18px; */
/* position: relative; */
/* float: right; */
/* top: -5vh;
} */

.navbar-centre a {
    text-decoration: none;
    color: white;
    padding: 16px 30px;
    display: inline-block;
    transition: all 300ms ease 0s;
}

.navbar-centre a:hover,
.navbar-centre a:focus {
    background-color: rgba(255, 255, 255, 0.1);
    /* transform: scale(1.2); */
    transform: translateY(-4px);
}

.navbar-centre a.active {
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    background-color: var(--couleur-accent);
    color: #000000;
    padding: 16px 30px;
}

.navbar button {
    font-family: 'Montserrat', sans-serif;
    color: var(--couleur-oppose-principale);
    background-color: var(--couleur-principale);
    border: 0.125em solid var(--couleur-oppose-principale);
    border-radius: 100px;
    padding: 8px;
    height: 37px;
    transition: all 300ms ease;
}

.navbar button:hover,
.navbar button:focus {
    background-color: var(--couleur-oppose-principale);
    color: var(--couleur-max);
    border: 0.125em solid var(--couleur-max);
    cursor: pointer;
}

.navbar a.login {
    text-decoration: none;
    color: white;
    text-align: center;
    background-color: #0077ff;
    border-radius: 100px;
    padding: 0.5em;
    transition: all 300ms ease;
    height: 1.25rem;
}

.navbar a.login:hover,
.navbar a.login:focus {
    background-color: #005eec;
}

#compte {
    text-decoration: none;
    color: white;
    text-align: center;
    background-color: #1eb31e;
    border-radius: 100px;
    padding: 0.5em;
    transition: all 300ms ease;
    height: 1.25rem;
}

#compte:hover,
#compte:focus {
    background-color: #2a922a;
}


.main h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;

}

.main h2 {
    position: relative;
    font-family: 'Montserrat', sans-serif;
    font-size: 5rem;
    text-align: center;
    padding: 0;
    margin: 0;
}

.main h6 {
    font-family: 'Montserrat', sans-serif;
    font-size: 3rem;
    text-align: center;
    padding: 0;
    margin: 0;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh;
}
/* 
.debut div {
    z-index: ;
} */

.svg-bg {
    /* aspect-ratio: 16/9; */
    position: fixed;
    height: 130vh;
    overflow-y: hidden;
}

.svg-bas {
    position: relative;
    bottom: -50%;
    left: 0;
    /* top:100%; */
    width: 100vw;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.svg-bas svg {
    position: relative;
    display: block;
    width: calc(107% + 1.3px);
    height: 111px;
    transform: rotateY(180deg);
}

.svg-bas .forme {
    fill: #3476E9;
}

.sec3 {
    position: relative;
    width: 100vw;
    left: -50px;
    top: 130px;
    background-color: #3476E9;
}


/* Page Thread  */

.main button {
    color: white;
    padding: 1rem;
    border: none;
    text-align: center;
    background-color: #0077ff;
    border-radius: 100px;
    transition: all 300ms ease;
    font-size: 1.125rem;
}

.main button:hover,
.main button:focus {
    background-color: #005eec;
    cursor: pointer;
}

#n-thread {
    position: absolute;
    top: 75px;
    left: 77%;
}

#nouvcomment {
    position: relative;
    top: -8px;
    padding: 0.5rem;
}

#comment {
    margin-top: 15px;
    width: calc(100% - 125px);
    resize: vertical;
}

.titre {
    color: var(--couleur-oppose-principale);
    font-size: 1.5rem;
    background-color: var(--couleur-tertiaire);
    padding: 15px;
    margin-top: 10px;
    margin-bottom: 0;
    border-radius: 10px;
}

.desc {
    background-color: var(--couleur-tertiaire);
    padding: 15px;
    /* margin-top: 0px; */
    border-radius: 10px;
}

.infos {
    display: flex;
    gap: 1rem;
    background-color: var(--couleur-tertiaire);
    margin-top: -10px;
    border-radius: 10px;
    color: #777777;
    font-style: italic;
}

.date {
    text-decoration: wavy;
}

.auteur {
    padding-left: 15px;
}

.comment {
    background-color: var(--couleur-quaternaire);
    padding: 15px;
    margin-top: 5px;
    border-radius: 10px;
}

.top-comment {
    display: flex;
    gap: 0.5rem;
    font-size: 0.75rem;
}

.top-comment p {
    margin-top: 0px;
}

.comment-ts {
    font-style: italic;
}

.comment-contenu {
    font-size: 1rem;
}


/* Page Forum */

.threads {
    display: grid;
    gap: 15px;
    grid-template-columns: repeat(3, 1fr);
}

.row {
    padding-left: 20px;
    background-color: var(--couleur-tertiaire);
    border-radius: 10px;
    transition: all 300ms ease;
    width: 25vw;
    filter: drop-shadow(0 0 8px black);
}

.row a {
    text-decoration: none;
}

.row .title {
    color: var(--couleur-oppose-principale);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.row .bottom {
    color: var(--couleur-oppose-secondaire);
}

.row:hover,
.row:focus {
    transform: scale(1.1);
}


.main {
    margin-top: 50px;
    padding: 10px 40px;
    /* padding: 0; */
}


.main h5 {
    font-size: 1.25rem;
    padding: 0;
    margin: 0;
    /* margin-top: 20px; */
}

.input-info {
    font-style: italic;
    margin: 5px 0;
}

#desc {
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    resize: vertical;
}

#titre {
    height: 1.5em;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
}

#cree-thread {
    margin-top: 10px;
    color: white;
    padding: 1rem;
    border: none;
    text-align: center;
    background-color: #0077ff;
    border-radius: 100px;
    transition: all 300ms ease;
    font-size: 1.125rem;
}

#cree-thread:hover,
#cree-thread:focus {
    background-color: #005eec;
    cursor: pointer;
}


.bloc {
    background-color: var(--couleur-secondaire);
    padding: 20px;
    margin-top: 10px;
    border-radius: 10px;
}

/* Feedback */
.centre {
    text-align: center;
}

.feedback-form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#titre-fb {
    width: 30rem;
}

#msg {
    width: 30rem;
    height: 20rem;
}

.alert {
    margin-top: 0.75rem;
    padding: 0.25rem 0.5rem;
    border-radius: 10px;
    position: relative;
    padding: 1rem 1rem;
    border: 1px solid transparent;
    border-radius: .25rem;
}

.succes {
    color: #111111;
    border-color: #6e857b;
    background-color: #67d8a5;
}

.erreur {
    color: #111111;
    border-color: #644242;
    background-color: hsl(0, 48%, 62%);
}

.nom {
    display: flex;
    color: var(--couleur-oppose-principale);
    font-size: 1.5rem;
    background-color: var(--couleur-tertiaire);
    padding: 15px;
    margin-top: 10px;
    margin-bottom: 0;
    border-radius: 10px;
    align-items: center;
    justify-content: right
}

.nom h4 {
    margin: 0;
    margin-right: auto;
}

.mail {
    display: flex;
    color: var(--couleur-oppose-principale);
    font-size: 1.5rem;
    background-color: var(--couleur-tertiaire);
    padding: 15px;
    margin-top: 10px;
    margin-bottom: 0;
    border-radius: 10px;
    align-items: center;
    justify-content: right
}

.mail h4 {
    margin: 0;
    margin-right: auto;
}

.mdp {
    display: flex;
    color: var(--couleur-oppose-principale);
    font-size: 1.5rem;
    background-color: var(--couleur-tertiaire);
    padding: 15px;
    margin-top: 10px;
    margin-bottom: 0;
    border-radius: 10px;
    align-items: center;
    justify-content: right
}

.mdp h4 {
    margin: 0;
    margin-right: auto;
    font-style: italic;
}

#deco {
    background-color: transparent;
    border: #ff0000 solid 3px;
}

#deco:hover,
#deco:focus {
    background-color: #aa0000;
}

.modifnom {
    display: flex;
    color: var(--couleur-oppose-principale);
    font-size: 1.5rem;
    background-color: var(--couleur-tertiaire);
    padding: 15px;
    margin-top: 10px;
    margin-bottom: 0;
    border-radius: 10px;
    align-items: center;
    justify-content: right;
    flex-direction: column;
}

#modifnomtxt {
    width: 80%;
    height: 1.5rem;
}

.modifmail {
    display: flex;
    color: var(--couleur-oppose-principale);
    font-size: 1.5rem;
    background-color: var(--couleur-tertiaire);
    padding: 15px;
    margin-top: 10px;
    margin-bottom: 0;
    border-radius: 10px;
    align-items: center;
    justify-content: right;
    flex-direction: column;
}

#modifmailtxt {
    width: 80%;
    height: 1.5rem;
}

.modifmdp {
    display: flex;
    color: var(--couleur-oppose-principale);
    font-size: 1.5rem;
    background-color: var(--couleur-tertiaire);
    padding: 15px;
    margin-top: 10px;
    margin-bottom: 0;
    border-radius: 10px;
    align-items: center;
    justify-content: right;
    flex-direction: column;
}

#modifmdptxt {
    width: 80%;
    height: 1.5rem;
}

#modifmdpconfirm {
    width: 80%;
    height: 1.5rem;
}

#mdp {
    width: 80%;
    height: 1.5rem;
    margin-top: 0.25rem;
}